@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
}

p {
    color: #06bcfb;
    font-size: 5rem;
    margin: 1rem;
}

.clock-container {
    margin-top: 35vh;
    width: 800px;
    text-align: center;
    border: #06bcfb solid;
    border-radius: 2px;
}
